# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

/app/generated/prisma

/lib/generated/prisma


# Pokemon Sprites
/public/sprites/badges
/public/sprites/items
/public/sprites/scripts
/public/sprites/sprites/badges
/public/sprites/sprites/items
/public/sprites/sprites/types
/public/sprites/sprites/pokemon/back
/public/sprites/sprites/pokemon/female
/public/sprites/sprites/pokemon/lowres
/public/sprites/sprites/pokemon/other
/public/sprites/sprites/pokemon/shiny
/public/sprites/sprites/pokemon/versions
